{% extends 'layout.html'%}

{% block body %}
    <h1>Add a Blog Entry</h1>
    <form action="/newpost" method="POST">
        <div>
            <b>Title for your new blog:</b><br/>
            <input id="title" type='text' name="title_f" value="{{title_p}}"><br/>
            <span class="error">{{errorTitle}}</span>
        </div>
        <br/>
        <div>
            <b>Your new blog:</b><br/>
            <textarea name="body_f" id="bpost" cols="30" rows="10">{{body_p}}</textarea><br/>
            <span class="error">{{errorBody}}</span>
        </div>
        <br/>
        <input type="submit" value="Publish New Entry">
    
    </form>

{% endblock %}